@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maindiv{
  width: 150px;
  height: 150px;
}

.imgdiv {
  width: 150px;
  height: 150px;
}

.camera svg {
  width: 40px;
  height: 40px;
}
